

<div>

    <div *ngIf="article != undefined" >
        <div class="col-12">
            <h1>{{article.title}}</h1>
        </div>

        <div class="col-12">
            <h3>{{article.posted_at | date: 'dd MMM, yyyy h:mm a' }}</h3>
        </div>

        <div *ngFor="let item of article.contents" class="row">
            <div *ngIf="item.type == 1" class="col-12">
                <!--text-->
                <p [innerHTML]="item.content"></p>
            </div>

            <div *ngIf="item.type == 2" class="col-12">
                <!--image-->

                <!--<h3>{{BASE_URL}}{{item.media_url }}</h3>-->
                <!--<div class=" content-image" [ngStyle]="{ 'background-image': 'url(' + BASE_URL + item.media_url + ')'}" ></div>-->

                <!--http://localhost:3000/public/images/_2018102413313243271.jpg-->
                <img class="content-image" [src]="BASE_URL + item.media_url">

                <h4>{{item.subtitle}}</h4>



            </div>

        </div>

    </div>


</div>
