<!--<p>-->
<!--home works!-->
<!--</p>-->

<!--<ul>-->
<!--<li>-->
<!--<h2><a routerLink="/detail" routerLinkActive="active">detail</a></h2>-->
<!--</li>-->
<!--</ul>-->

<div>
    <!--<ng-container></ng-container>-->



    <div class="carousel">


        <!--

        <ngb-carousel >
            <ng-template *ngbSlide>
                <img [src]="images[0]" alt="Random first slide">
                <div class="carousel-caption">
                    <h3>10 seconds between slides...</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
            <ng-template *ngbSlide>
                <img [src]="images[1]" alt="Random second slide">
                <div class="carousel-caption">
                    <h3>No mouse events...</h3>
                    <p>This carousel doesn't pause or resume on mouse events</p>
                </div>
            </ng-template>
            <ng-template *ngbSlide>
                <img [src]="images[2]"  alt="Random third slide">
                <div class="carousel-caption">
                    <h3>No keyboard...</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
            <ng-template *ngbSlide>
                <img [src]="images[3]" alt="Random fourth slide">
                <div class="carousel-caption">
                    <h3>And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
        </ngb-carousel>

        -->

        <!--
        <ngb-carousel #carousel>
            <ng-template *ngbSlide>
                <img src="https://lorempixel.com/900/500?r=4" alt="Random first slide">
                <div class="carousel-caption">
                    <h3>10 seconds between slides...</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
            <ng-template *ngbSlide>
                <img src="https://lorempixel.com/900/500?r=5"  alt="Random second slide">
                <div class="carousel-caption">
                    <h3>No keyboard...</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
            <ng-template *ngbSlide>
                <img src="https://lorempixel.com/900/500?r=6" alt="Random third slide">
                <div class="carousel-caption">
                    <h3>And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
        </ngb-carousel>
        -->






        <!--<div *ngFor="let item of carousel">-->
            <!--<h4>{{item.title}}</h4>-->
        <!--</div>-->
    </div>

    <div infinite-scroll
         [scrollWindow]="true"
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollUpDistance]="scrollUpDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="onScrollDown()"
         (scrolledUp)="onUp()"
    >

        <!--<div class="border-orange row">-->
            <!--<h3>asldkfjaslkdf</h3>-->
        <!--</div>-->

        <div class="border row ">

            <ng-container *ngIf="news">
                <div *ngFor="let item of news" class="news-card col-sm-12 col-md-4">
                    <!--<h4 >{{item.title}}</h4>-->
                    <!--<h4>{{item.posted_at}}</h4>-->

                    <!--[ngStyle]="{ 'background-image': 'url(' + BASE_URL + item.thumbnail + ')'}"-->



                    <a [routerLink]="['/article', item.id]" routerLinkActive="active"  >
                        <div class=" news-image" [ngStyle]="{ 'background-image': 'url(' + item.thumbnail + ')'}" ></div>

                        <!--<img class=" news-image" [src]="BASE_URL + item.thumbnail" alt="">-->



                        <div class="footer-bg">
                            <h4>{{item.title}}</h4>
                            <!--<h5>{{item.posted_at | date: 'dd MMM, yyyy h:mm a' }}</h5>-->
                        </div>
                    </a>



                    <!--<div class="container content" [ngStyle]="{ 'background-image': 'url(' + BASE_URL + item.thumbnail + ')'}">-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<h4 >{{item.title}}</h4>-->
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                    <!--<h4>{{item.posted_at}}</h4>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                </div>


            </ng-container>


        </div>

    </div>


</div>

