.border {
  //border: green solid 1px;
}

.border-orange {
  //border: orange solid 1px;
}

.carousel {
  //height: 400px;
}

.news-card {

  //border: red solid 1px;
  //margin: 10px 0;

  //margin-top: 10px;
  //margin-bottom: 10px;

  .news-image {
    height: 200px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  .footer-bg {
    color: black;
  }

}

